/* Colors */
:root {
    --rj-grey: #3a4859;
    --rj-grey-light: #788da3;
    --rj-red: #fe440f;
    --rj-red-light: #ff5722;
    --rj-red-very-light: #ffe5e1;
    --light-grey: #f5f5f5;
    --input-border: #ddd;

    --floating-tile-width: 800px;

}

/* General Styles */
header {
    background-color: var(--light-grey);
    padding: 10px 0;
    text-align: center;
    display: flex;
    justify-content: space-around;
    height: 140px;
    width: 100%;
}

h1 {
    position: absolute; /* Removes it from the document flow */
    width: 1px; /* Shrinks its dimensions to almost nothing */
    height: 1px;
    overflow: hidden; /* Hides any content that might spill */
    clip: rect(0 0 0 0); /* Clipping it to make it invisible */
    clip-path: inset(100%); /* Alternative to `clip` for better support */
    white-space: nowrap; /* Prevents line breaks */
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 10;
    padding: 0;
    background-color: var(--light-grey);
    color: var(--rj-grey);
}

h2, h3 {
    margin: 0;
    color: var(--rj-grey);
    font-weight: 550;
}

button {
    background-color: #fe440f;
    color: #fff;
    border: none;
    margin: 0px 2px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, box-shadow 0.3s;
}

button:hover {
    background-color: #ff5722;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

#tab-navigation {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: var(--rj-grey-light);
    right: 0;
}

.tab-button {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background: none;
    border: none;
    text-align: center;
}

.tab-button.active {
    background-color: var(--rj-grey);
    font-weight: bold;
}

.tab-content {
    display: none;
    margin-bottom: 60px; /* Leave space for tab navigation */
}

.tab-content.visible {
    display: block;
}

.hidden {
    display: none;
}

/* Layout Containers in both tabs */
#input-blocks-container, #results-container, #saved-journeys-list, #saved-journey-container {
    max-width: var(--floating-tile-width);
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.location-input-container, .duration-input-container, .departure-arrival-time-container {
    flex: 1;
}


/* Input Details */

/* Titles */
.title-container {
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    margin-bottom: 10px;
}

/* Input Containers */
.input-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid var(--input-border);
    border-radius: 8px;
    box-sizing: border-box;
    transition: border-color 0.3s;
    font-family: 'Arial', sans-serif;
}

input:focus {
    border-color: var(--rj-red);
    outline: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#starting-point-departure {
    font-family: 'Arial', sans-serif;
}

.inbetween-stops-container {
    margin: 5px 0;
}

#starting-point-container, #destination-container, .stop-container {
    margin: 15px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 10px;
}

/* Vias and Stops */
.vias-container {
    margin-bottom: 10px;
}

.via {
display: flex;
align-items: center;
position: relative; /* So we can absolutely position the dropdown here */
}

.location-input-wrapper {
    position: relative; /* So the dropdown can be absolutely positioned inside */
flex: 1; /* Take up all available space */
}

.suggestions-dropdown {
position: absolute;
top: 100%;   /* Just below the input */
left: 0;
width: 100%; /* Match the input width */
background: #fff;
box-shadow: 0 4px 8px rgba(0,0,0,0.1);
z-index: 10; /* So it sits above other elements */
}

.suggestion-item {
padding: 6px 8px;
cursor: pointer;
}

.suggestion-item:hover {
background-color: #f0f0f0;
}

/* Results Details */
#results-container {
    display: none; /* Hide the container by default */
}

.results-connection-container {
    margin-bottom: 20px;
}

.journey-overview-title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.results-starting-point-container, .results-stop-container, .results-destination-container {
    background-color: var(--rj-grey);
    color: var(--light-grey);
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.results-starting-point-container h3, .results-stop-container h3, .results-destination-container h3 {
    color: var(--light-grey);
}

.results-connection-container {
    background-color: var(--light-grey);
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.results-section-container {
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.results-connection-walksection-container {
    background-color: var(--rj-red-very-light);
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


/* Styling for SavedJourneys Tab */ 
#saved-journey-container {
    display: none; /* Hide the container by default */
}

.saved-journey-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc; /* Optional: Add separator between items */
    padding: 10px 0;
}

.saved-journey-item p {
    margin: 0;
}

.back-to-list-button {
    margin-bottom: 20px;
}
