/* Mobile-First Basic Structure */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Container for the content */
.content-container {
    flex: 1;
    padding: 20px;
    overflow-y: auto;  /* Scroll content if needed */
}

/* Style for the Tab Buttons */
.tabs-container {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
}

.tab-button {
    flex: 1;
    padding: 12px;
    background-color: #f0f0f0;
    border: none;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
}

.tab-button.active {
    background-color: #4CAF50;
    color: white;
}

.tab-button:hover {
    background-color: #45a049;
}

/* Tabs invisible by default */
.tab-content {
    display: none;
}

/* Active tab turned to visible */
.tab-content.active {
    display: block;
}

/* Styling for the New Journey Form */
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

.dropdown {
    position: absolute;
    background-color: white;
    border: 1px solid #ddd;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
    display: none; /* Hidden by default */
}

.dropdown-item {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
}

.dropdown-item:last-child {
    border-bottom: none;
}

.dropdown-item:hover {
    background-color: #f0f0f0;
}

#viaContainer {
    margin-top: 10px;
}

#viaContainer .dropdown {
    position: relative;
}

#results {
    display: none; /* Hide by default */
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.connection {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

.connection h3 {
    margin-top: 0;
}

#connectionDetails {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    display: none; /* Hidden by default */
}

.section {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

.section h4 {
    margin-top: 0;
}

button {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* For larger screens, such as tablets and desktops, change the layout */
@media (min-width: 600px) {
    .tabs-container {
        position: static;
        background-color: transparent;
        box-shadow: none;
    }

    .tab-button {
        font-size: 18px;
        padding: 14px;
    }
}
